* {
    background-color: #0B0C0D;
    font-family: 'Poppins', sans-serif;
}

.heading {
    color : white;
}


.intro {
    color : white;
}

.introIcon {
    color : white;
    display : flex;
    space : 10px;

}

.linkk:link{
    color:white;
}

.linkk:visited{
    color:white;
}
.linkk:hover{
    color:black;
}


.linkk1:link{
    color:white;
}

.linkk1:visited{
    color:white;
}
.linkk1:hover{
    color:black;
}
